sanguosha.qm

.DS_Store
etc/customScenes/custom_scenario.txt
QSanguosha.exe
QSanguosha
/tools/
/audio/bgm/*
*thumbs.db
*.orig
*.rej
/config.json
*.qmlc
/ths.cppcheck

*.autosave

build
.vscode
.qmake.stash
CMakeLists.txt.user
/plugins/
.cache
compile_commands.json
Q6Sanguosha
Q6Sanguosha.exe
CMakeLists.txt.user.*

/documentation/doxygen/
*.dll
